@import "tailwindcss";

:root {
  --background: #201913;
  --foreground: #abaa96;
  --surface: #5e4535;
  --surface-deep: #8aa38d;
  --accent: #f1caee;
  --accent-success: #6b897d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-deep: var(--surface-deep);
  --color-coffee-bean: #201913;
  --color-ash-grey: #abaa96;
  --color-coffee-bean2: #5e4535;
  --color-muted-teal: #8aa38d;
  --color-deep-teal: #6b897d;
  --color-orchid-hush: #f1caee;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: #f7f5fa;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
